# Created by .ignore support plugin (hsz.mobi)
venv
tags
/nltk_data
/static
/var
*.pyc
*.log
*.swp
*.bak
*.coverage
*.ropeproject
.vagrant
.vim.local
.idea
.DS_Store
.sass-cache
addnow/settings/__init__.py
data
billie_jean.mp3
api/db.sqlite3